<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
	<body>
		<form action="/" method="get">
            <table>
                <tr>
                    <td>First Number:</td>
                    <td><input type="text" name="val" /></td>

                </tr>
                <tr>
                    <td>Second Number:</td>
                    <td><input type="text" name="val2" /></td>
                </tr>
                <tr>
                    <td><button type="submit" formaction="/sum">Sum</button></td>
                    <td><button type="submit" formaction="/subtract">Subtract</button></td>
                    <td><button type="submit" formaction="/multiply">Multiply</button></td>
                    <td><button type="submit" formaction="/divide">Divide</button></td>
                </tr>
            </table>
        </form>
	</body>
</html>