<html>
    <body>
        <form action="#" th:action="@{/}" th:object="${calculator}" method="post">
            <table>
                <tr>
                    <td>First Number:</td>
                    <td><input type="text" th:field="*{firstNumber}" /></td>
                </tr>
                <tr>
                    <td>Second Number:</td>
                    <td><input type="text" th:field="*{secondNumber}" /></td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>
